.header {
  position: relative;
  z-index: 10;
  padding: 1.6rem 0 0;
  height: 16rem;
  line-height: 17rem;
  background: rgba(255,255,255,.97);
  &:before {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.6rem;
    height: 1.6rem;
    width: 100%;
    background: linear-gradient(45deg, #f5b300, #f49e00);
  }
  &__logo img{
    width: 15.4rem;
    height: 5rem;
  }
}